*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:45px;
    color:rgb(1, 65, 1);

}
h1{

    font-size:90px;
}

img{
    border: 5px solid rgb(1, 65, 1);
}
